# --- CACHE DO PYTHON (Lixo reciclável) ---
__pycache__/
*.pyc

# --- DADOS SENSÍVEIS DA EMPRESA (NÃO SUBIR!) ---
dados/
XML_Entrada/
Logs/
RELATORIOS/

# --- AMBIENTES VIRTUAIS ---
venv/
env/

# --- CACHE DO NAVEGADOR E PLANILHAS ---
chrome_perfil/
*.xlsx

cloudflared.exe
__pycache__/
uploads/